@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.cdnfonts.com/css/offside');
body{
    background-color: #EDEDED;
    font-family: "Open Sans", sans-serif;
}
header{
    background: #FFB800;
    padding: 0.5rem 0 10rem 0;
}
nav {
    display: grid;
    grid-template-columns: 1fr 11fr 1fr;
}
nav a {
    margin-left: 1rem;
    align-self: center;
}
nav h1 {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    background-color: #EDEDED;
    border-radius: 50px;
    position: relative;
    top: -5rem;
    justify-content: center;
    align-items: center;
}
h2{
    display: flex;
    justify-content:flex-start;
}
.bem-vindo-box {
    display: grid;
    grid-template-columns: 0fr 1fr;
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 40px;
    position: relative;
    top: -3rem;
    box-sizing: border-box;
}
div {
    display: flex;
    flex-direction: column;
}
#foto-perfil {
    width: 5rem;
    height: 5rem;
    margin-right: 0.5rem;
    border-radius: 50px;
    align-self:stretch;
}
main section div span:first-child {
    margin: .7rem 0 0 1vh;
    font-size: 11pt;
}
main section div span {
    margin: 1rem 0 0 1vh;
    font-weight: 600;
    font-size: 15pt;
}
h2 {
    font-size: 2rem;
    font-weight: bold;
    align-self: flex-start;
    margin: 2rem 2rem;
}
main ul li {
    font-family: offside;
    display: flex;
    flex-direction: column-reverse;
    background-color: #FFFFFF;
    border: transparent;
    border-radius: 3rem;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
}
a {
    text-decoration: none;
    color: #000000;
}
h3 {
    font-size: 1.2rem;
    margin-left: .5rem;
}
.icones {
    margin: 0 0 1rem .5rem;
}