/*Header*/
nav {
	color: white;
	display: grid;
	margin-left:1rem;
	grid-template-columns: 1fr 6fr 1fr; /* Foi feito 3 colunas e definido o tamanho de cada, a do meio é a maior*/
	/*Grid é um comando que cria colunas dentro da div ou nav onde você pode organizar o tamanho da coluna ou onde cada tag vai ficar*/
}
nav a {
	display: flex;
	justify-content: center;
	
}
nav a:first-child {
	justify-content: left;
	align-content: center;
	align-self: center;
}

/*Conteúdo da página*/
body {
	background-color: #ffb800; /*Cor de fundo*/
	margin: 0; /*Margin 0 para que ocupe toda a tela sem a margem default*/
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
}
.content-box {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 100%;
	height: 100vh;
	border-radius: 50px 50px 0 0;
}
.content-box article {
	background-color: white; /* Cor de fundo do content-box -> tag article*/
	margin: 1rem;
	padding: 1rem;
	border-radius: 50px;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
}
.dataPagt{
	margin-left: 2rem; /* Margem a esquerda de 2rem*/
}
select{
	padding: 5px; /* Tamanho do campo de seleção*/
	border-radius: 5px; /*Bordas*/
}
input{
	border-radius: 5px;
	margin-bottom: 1rem;
	padding: 5px;
	border: 1px solid gray;
}
p{
	
}

/*Códigos para o botão "Realizar Pedido" */
div {
	display: flex;
	justify-content: center; /* Justificação do conteúdo(Centralizado)*/
	font-family: Open Sans; /* Fonte */
}
button {
	font-family: Arial, Helvetica, sans-serif;
	padding: 2vw; /* Tamanho do botão(Espaçamento Dentro do conteúdo)*/
	border-radius: 21px; /* Bordas do botão*/
	margin: 2rem; /*Margem do botão*/
	background: #FFB800; /* Cor de fundo do botão*/
	Color: white; /* Cor da escrita*/
}
button:hover{
	color:black;
}