@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
header{
    background-color: #FFB800;
    padding: 0.5rem 0 10rem 0;
}
nav {
    display: grid;
    grid-template-columns: 1fr 11fr 1fr;
}
nav a {
    margin-left: 1rem;
    justify-content: left;
    align-content: center;
    align-self: center;
}
h1{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1.0rem;
    text-align: center;
}
main {
    position: relative;
    top: -6.5rem;
    background: #FFFFFF;
    border: 0px solid;
    border-radius: 50px 50px 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
main p {
    color: #000000;
    font-size: 16pt;
    margin-left: 2rem;
    margin-top: 2rem;
    font-weight: bold;
}
section {
    width: 335px;
    margin: 0 auto;
}
section p {
    font-size: 12pt;
}
input{
    margin-left: 2rem;
    border:transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

}
label {
    font-size: 10pt;
}
select {
    width: 52%;
    margin-left: 2rem;
    border:transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
#botaoSubmit {
    text-align: center;
    margin: 4rem auto;
}
#botaoSubmit input {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    background-color: #FFB800;
    border: #FFB800;
    border-radius: 100px;
}
main footer p {
    text-align: center;
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}
footer {
    background: url("fundoPreto.jpg");
    height: 100vh;
}
@media (min-height: 1000px){
    body{ 
        overflow:hidden
    }
}
