/*Header*/
nav {
	color: white;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
nav a {
	display: flex;
	justify-content: center;
}
nav a:first-child {
	margin-left: 1rem;
	justify-content: left;
	align-content: center;
	align-self: center;
}

/*Conteúdo da página*/
body {
	background-color: #ffb800;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
}
.content-box {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 100%;
	height: 100vh;
	border-radius: 50px 50px 0 0;
}
.content-box article {
	background-color: white; /* Cor de fundo do content-box -> tag article*/
	margin: 1rem;
	padding: 1rem;
	border-radius: 50px;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
}
.menu{
	margin-left: 2rem;
}
select{
	padding: 5px;
}
input{
	border-radius: 5px;
	margin-bottom: 1rem;
	padding: 5px;
	border: 1px solid gray;
}
div {
	display: flex;
	justify-content: center; /* Justificação do conteúdo(Centralizado)*/
	font-family: Open Sans; /* Fonte */
}
button {
	font-family: Arial, Helvetica, sans-serif;
	padding: 2vw; /* Tamanho do botão(Espaçamento Dentro do conteúdo)*/
	border-radius: 21px; /* Bordas do botão*/
	margin: 1rem; /*Margem do botão*/
	background: #FFB800; /* Cor de fundo do botão*/
	Color: white; /* Cor da escrita*/
}
button:hover{
	color:black;
}